@import '{zurb:foundation-sites}/scss/foundation';

@import 'styles/colors';

@import 'imports/columns/columns';
@import 'imports/user-column/user-column';

$grid-column-gutter: (
  small: 0px,
  medium: 0px,
);

@include foundation-everything(true);

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.standard-padding{
    padding: 15px;
}
.full-height{
    height: 100%;
}
