@import '{zurb:foundation-sites}/scss/foundation';
@import 'styles/_foundation-settings.scss';

@import 'styles/colors';
@import 'styles/forms';
@import 'styles/layout';

@import 'imports/columns/columns';
@import 'imports/user-column/user-column';
@import 'imports/header/header';
@import 'imports/user-search-form/user-search-form';
@import 'imports/user-detail/user-detail';

$grid-column-gutter: (
  small: 0px,
  medium: 0px,
);

@include foundation-everything(true);

body{
    height: 100%;
}
.standard-padding{
    padding: 15px;
}
.full-height{
    height: 100%;
}
