.header{
    padding: 40px;
}

.user-header{
    //background: #CDFFEA;
    text-align: center;
    .user-image{
        border-radius: 50%;
        border: 2px #fff solid;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
}
