.user-detail{
    .user-detail-wrapper{
        padding: 40px;
        background: #eee;
        text-align: center;
        .user-title{
            
        }
        .user-image{
            border-radius: 50%;
            margin-bottom: 40px;
        }
    }
}