.present-in-list{
    list-style-type: none;
    margin: 0;
    text-align: left;
    padding: 10px;
    margin: 10px;
    .info-wrapper{
        position: relative;
    }
    p.description{
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }
    .present-actions{
        .action{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: inline-block;
            background: #fff;
            color: #aaa;
            padding: 2px 0;
            text-align: center;
            &.reserve{
                color: $success-color;
            }
            &.reserve.reserved{
                color: $alert-color;
            }
        }
    }
}
