<ul>
  <li *ngFor="let present of presents" class="present-in-list">
      <div class="row">
        <div class="small-3">
            <img src="{{present.img}}" />
        </div>
        <div class="small-9 info-wrapper">
            <strong>{{present.name}}</strong>
            <p class="description">{{present.description}}</p>
            <div class="present-actions">
                <a class="action reserve" [ngClass]="{'reserved': present.reserved}" (click)="reservePresent(present)">
                    <i *ngIf="!present.reserved" class="fa fa-unlock"></i>
                    <i *ngIf="present.reserved" class="fa fa-lock"></i>
                </a>
                <a class="action delete" (click)="removePresent(present)"><i class="fa fa-times"></i></a>
            </div>
        </div>
      </div>
  </li>
</ul>
